<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>

<link rel="stylesheet" href="/styles/productDetail.css">
<script src="/Js/validatorEmail.js" defer></script>
<body>
  <%- include('../partials/header.ejs') %>
    <main>
      <h6 class="titulo-chocolates"> NUESTROS PRODUCTOS </h6>
      <section class="seccion-uno">
          <img src="/images/<%= oneProduct.productImages[0].image%> " class="imagen-producto" alt="..." width="40%">
          <div class="contenedor-total">
          <div class="contenedor-descripcion">
          <h5 class="card-title">
            <%- oneProduct.name %>
          </h5>
          <p class="card-text">
            <%- oneProduct.description %>
          </p>
        </div>
          <div class="contenedor-contador">
          <button type="button" id="minus" class="minus">-</button>
          <input type="number" id="count" class="input-text" readonly="true" inputmode="numeric">
          <button type="button" id="plus" class="plus">+</button>
          </div>
          <div class="boton">
            <button type="button" class="agregar-al-carrito">AGREGAR AL CARRITO <i
              class="fas fa-shopping-cart"></i></button>
          </div>
      </div>
      </section>

      <section class="seccion2">
       <article>
      <h6 class="titulo-chocolates">PRODUCTOS DESTACADOS</h6>

        </article>
      </section>
    </main>
</body>

</html>