<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<%- include('../partials/bootstrap') %>
    <body>
    <%- include('../partials/header.ejs') %>
        <main class="container">
            <h3 class="text-center">Agregar nuevo producto</h3>
            <div class="container col-md-4">
                <form class="row g-3" action="/admin/agregarProducto/"   method="POST" enctype="multipart/form-data">
                    <div class="col-12">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="nameProduct" value="<%= locals.old && old.nameProduct %>">
                    </div>
                    <div class="col-12">
                        <label for="price" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="price" name="price" value="<%= locals.old && old.price%>">
                    </div>
                    <div class="col-12">
                        <label for="discount" class="form-label">Descuento</label>
                        <input type="number" class="form-control" id="discount" name="discount" value="<%= locals.old && old.discount%>">
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="description" name="description" value="<%= locals.old && old.description%>">
                    </div>
                    <div class="col-12">
                        <select class="form-select" id="specificSizeSelect" name="category">
                          <option selected hidden value="">Categorias</option>
                         <% categories.forEach(category => { %>
                            <option value="<%- category.id %>" <%= locals.old && old.category == category.id ? "selected" : "" %> ><%- category.nameCategory %></option>
                         <% }) %>
                        </select>
                    </div>
                    <div class="col-12">
                        <select class="form-select" id="specificSizeSelect" name="subcategoryId">
                          <option selected hidden value="">Subcategorias</option>
                         <% subcategories.forEach(subcategory => { %>
                            <option value="<%- subcategory.id%>" <%= locals.old && old.subcategory == subcategory.nameSubcategory ? "selected" : "" %>><%- subcategory.nameSubcategory %></option>
                         <% }) %>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="inputFile" class="form-label">Imagen</label>
                        <input type="file" class="form-control" id="imagen" name="image">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-info">AGREGAR</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>