<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/header.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Edición de producto</title>
</head>
<body>
  <%- include('../partials/header.ejs') %> 
  <main class="container">
    <h3 class="text-center">Editar el siguiente producto: <%= product.name %>   </h3>
    <div class="container col-md-4">
        <form class="row g-3" action="/admin/editarProducto/<%= product.id %>?_method=PUT " method="POST" enctype="multipart/form-data">
            <div class="col-12">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" value="<%= product.name %>">
            </div>
            <div class="col-12">
                <label for="inputPrice" class="form-label">Precio</label>
                <input type="number" class="form-control" name="precio" id="precio" value="<%= product.price %>">
            </div>
            <div class="col-12">
                <label for="inputCategory" class="form-label">Categoría</label>
                <input type="text" class="form-control" name="categoria" id="categoria" value="<%= product.category %>" >
            </div>
            <div class="col-12">
                <label for="inputSubcategory" class="form-label">Subcategoría</label>
                <input type="text" class="form-control" id="subcategoria" name="subcategoria" value="<%= product.subcategory %>">
            </div>
            <div class="col-12">
                <label for="inputFile" class="form-label">Imagen</label>
                <input type="file" class="form-control" id="imagen" name="imagen" value="<%= product.image %>">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-info">EDITAR</button>
            </div>
        </form>
    </div>
  </main>



  
              
  
</body>
</html>